body{
    background-color: #ffffff;
    background-size: 100% 
    
   
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(36, 5, 62);

}
.buttonApply{
    text-decoration: none;
    background-color: rgb(36, 5, 62);
    border-top: #ffffff;
    border-right: #ffffff;
    border-left: #ffffff; 
    border-bottom-color: rgb(68, 255, 161);
    border-bottom-width: 5px;
    color: white;       
     
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 635px;
    height: 256px;
    color: white;
    margin: 0;
}
.tailor{
    padding-top: 150px;
    font-size: 60px;
    width: 635px;
    height: 160px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.buttonLearn{
    text-decoration: none;
    border: #ffffff;
    width: 162px;
    height: 56px;
    background-color: rgb(68, 255, 161);
    color: rgb(36,5,62);
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.page{
    background: linear-gradient(180deg, rgb(36, 5, 62) 60%, #ffffff 50%);
    display: flex;
    width: 1440px;
    height: 608px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    gap: 20px;
    position: relative;
}
.pattern-image {
    width: 270px; 
    height: 215px;
}
.pattern2-image {
    width: 170px; 
    height: 115px;
}
.pattern2{
    position: absolute;
    bottom: 250px;
    right: 230px;
}
.phone{
    position: relative;
    bottom: -40px;
    margin-top: auto;
    height: 767px;
    width: 441px;
    justify-content: center;

}
.features {
    background-color: white;
    display: flex;
    justify-content: space-around; 
    margin-top: 0px; 
    max-width: 1200px; 
    gap: 0px;
    padding-left: 10%;
    padding-right: 10%;
}
  
  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%; 
  }
  
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(36, 5, 62); 
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid rgb(36, 5, 62);
  }
  
  .feature-item h3 {
    font-size: 24px;
    margin: 10px 0; 
  }
  
  .feature-item p {
    font-size: 16px;
    color: #666666;
    max-width: 250px; 
  }
